:root{
/* Color Theme Swatches in Hex */
--cor1:#FAF0CA; 
--cor2: #9097C0;
--cor3:#EE964B;
--cor4: #F95738; 
--cor5: #0D3B66; 
--cor6: #5318a0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom ,var(--cor6)10%, var(--cor2),var(--cor3), var(--cor4));
    height: 100vh;
    width: 100vw;
    color: var(--cor5);
}
header{
    display: flex;
    justify-content: space-between;
    background-image:linear-gradient(var(--cor6), var(--cor6));
    box-shadow: 0px 1px 2px #0d0d0d20;
    position: sticky;
    align-items: center; /* alinhamento vertical */
    top: 0;
}
header>a{
    margin-left: 30px;
}
nav{
    display: flex; /* junta todos os elementos em uma linha */
    justify-content: right; /* alinhamento horizontal  */
    height: 50px;    /* altura */
    align-items: center;
}
nav > a{
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
    color: var(--cor1);
}
nav > a:hover{
    text-decoration: underline;
    color: var(--cor2);
}

h1{
    text-align: center;
    margin: 60px 0;
    font-size: 3em;
    color: var(--cor1);
    text-shadow: 1px 2px 2px var(--cor4);
}

.container{
    display: flex; /* junta todos os elementos em uma linha */
    justify-content: space-around; /* alinhamento horizontal  mesmo espaço entre os elementos*/
    align-items: center; /* alinhamento vertical */
    margin: 0 50px;    
}
.apresentacao{
    text-align: justify;
    max-width: 400px;
    line-height: 1.2em;
    background-color: var(--cor1);
    padding: 20px;
    border-radius: 5px 30px;
    box-shadow: 1px 2px 5px #0d0d0d20;
}
.apresentacao h2{
    padding: 20px;
}
.apresentacao p{
    text-indent: 20px;
}

@media(max-width:600px){
    .container{
        flex-direction: column;
    }
    .apresentacao{
        margin-bottom: 30px;
    }
    .img{
        width: 300px;
        height: 700px;
    }
}

footer{
    background-color: black;
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
    position:fixed;
    bottom: 0;
    width: 100%;
}
.content{
    max-height: 370px;
    max-width: 600px;
    border-radius: 20px;
    overflow: hidden;
/*     position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  */ 
    padding-bottom: 440px;
}
.navegation{
    position: relative;
    bottom: 60px;
    left: 80%;
    transform: translate(-55%);
    display: flex;
}
.bar{
    width: 40px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
input{
    display: none;
}
.slides{
    display: flex;
    width: 500%;
    height: 100%;
}
.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
}
#slide1:checked ~ .s1 {
    margin-left: 0;
}
#slide2:checked ~ .s1 {
    margin-left: -20%;
}
#slide3:checked ~ .s1 {
    margin-left: -40%;
}
#slide4:checked ~ .s1 {
    margin-left: -60%;
}
#slide5:checked ~ .s1 {
    margin-left: -80%;
}